*{
    box-sizing: border-box;
    align-items: center;
    font-family: 'VT323', monospace;
    color:beige;
    background-color: rgb(32, 32, 32);
}
body{
    display: flex;
    place-content: center;
    min-height: 100vh;
    margin: 0;
}
div{
    align-items: center;
    text-align: center;
    font-size: 20vh;
}
.buttons{
    align-items: center;
    text-align: center;
}

button{
    background: none;
    border-style: none;
    font-size: 50px;
}

button:hover{
    color: rgb(255, 119, 50);
    transition: 0.7s;
}

@media screen and (max-width: 900px){
    div{
        font-size: 10vh;
    }
    .buttons{
        display: grid;
    }
    button{
        margin-top: 10px;
        font-size: 4vh;
    }
}
